// .response{
//   border: 1px solid $color-background-body;
//   border-radius: 4px;
//   min-height: 100px;
//   width: 380px;
//   vertical-align: top;
// }


.overall-icon-checkin{
  font-size: 25px;
}

.heat-icon-checkin{
  font-size: 30px;
}

.checkin-stats{
  width: 300px;
  margin: 10px 50px;
  text-align: center;
  table-layout: fixed;
}


.checkin-index-item-outer{
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.30);
}

.checkin-index-item{
  padding: 20px;
}

.checkin-index-item-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkin-index-item-footer{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkin-index-item-footer > span{
  align-self: center;
}

.checkin-details-content-text > *{
  margin-bottom: 5px;
}

.checkin-index-item-profile{
}

.checkin-view{
  padding: 20px;
}

.dialog-title{
  margin-bottom: 20px;
}

.checkin-user-picture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: .3s ease;
}
.checkin-user-picture:hover{
  box-shadow: 3px 5px 6px 1px rgba(0,0,0,0.30);
}

.checkin-index-item-profile-text{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.checkin-index-item-profile-text > * {
  margin-right: 8px;
}

.checkin-user-image {
  width: auto;
  height: 100%;
}
#filler-text{
  font-size: 24px;
}
