// .response{
//   border: 1px solid $color-background-body;
//   border-radius: 4px;
//   min-height: 100px;
//   width: 380px;
//   vertical-align: top;
// }


.overall-icon-checkin{
  font-size: 30px;
}

.heat-icon-checkin{
  font-size: 35px;
}

.checkin-index-item{
  background-color: white;
  margin-bottom: 10px;
}

.checkin-index-item-profile{
  padding: 20px;
}

.checkin-view{
  padding: 20px;
}
