// .response{
//   border: 1px solid $color-background-body;
//   border-radius: 4px;
//   min-height: 100px;
//   width: 380px;
//   vertical-align: top;
// }


.overall-icon-checkin{
  font-size: 30px;
}

.heat-icon-checkin{
  font-size: 35px;
}



.checkin-index-item-outer{
  background-color: white;
  margin-bottom: 10px;
}

.checkin-index-item{
  padding: 20px;
}

.checkin-index-item-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkin-index-item-footer{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkin-index-item-footer > span{
  align-self: center;
}

.checkin-details-content-text > *{
  margin-bottom: 5px;
}

.checkin-index-item-profile{
}

.checkin-view{
  padding: 20px;
}

.dialog-title{
  margin-bottom: 20px;
}
