body *{
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid grey;
  color: $color-main-text;
}

body{
  margin: 0px;
  background-color: $color-background-body;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

h2{
  color: $color-main;
}

.main{
  width: 900px;
  margin: auto;
}

.button{

}

.col-2-3{
  width: 590px;
  height: auto;
  margin-top: 20px;
}

.text-center{
  text-align: center;
}

.no-underline{
  text-decoration: none;
}

.hover-yellow :hover{
  background-color: #fdd835;
}
