body *{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  // border: 1px solid grey;
  color: $color-main-text;
}

body{
  margin: 0px;
  background-color: $color-background-body;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}
a {
  text-decoration: none;
}

h2{
  color: $color-main;
}

.main{
  width: 900px;
  margin: auto;
}

.button{

}

.col-2-3{
  width: 590px;
  height: auto;
  margin-top: 20px;
}

.text-center{
  text-align: center;
}

.no-underline{
  text-decoration: none;
}

.hover-yellow :hover{
  background-color: #fdd835;
}

img {
    display: none;
}


img[src] {
   display: block;
 }
 .inline-link{
   display:inline-block;
 }

 .custom-errors{
   color: red;
   font-size: 12px;
 }
 
#basic-link{
  text-align: right;
  text-decoration: underline;
}
#basic-link:hover{
  color: $color-main-highlight;
}

h2#subsection-heading{
  padding: 20px 10px 0px;
  color: $color-main-text;
}

#flex-row{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}
