.sauce-thumbnail{
  width: 100px;
  height: auto;
}
.sauce-main{
  background-color: white;
}
.sauce-main-profile{
  display: flex;
  background-color: white;
}
.sauce-main-profile > *{
  padding: 20px;
}

.sauce-main-profile-pic{
}

.sauce-main-profile-text > h1,h2,h3,h4{
  margin: 0px 0px 3px 0px;
}

.edit-icon{
  align-self: flex-end;
}
.sauce-main-buttons{
  padding: 5px 20px 20px 20px;
  display:flex;
  justify-content: flex-end;
}

.sauce-stats{
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.sauce-index-header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.sauce-index-header > * {
  padding: 20px;
}
.sauce-index-header-text > h1{
  margin-bottom: 5px;
}

.sauce-index-item{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
  background-color: white;
}

.sauce-index-item > *{
  padding: 20px;
}

.sauce-index-item-profile > *{
  margin: 0 0 2px;
}

#add-sauce-button{
  align-self: center;
}

#sauce-form{
  width: 500px;
  margin: 20px auto;
  background-color: white;
}

#sauce-form > form{
  padding: 20px;
}

.form-buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-upload-preview{
  width: 100px;
  height: auto;

}
